<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Estudiantes
        table
            thead 
                th Nombre
                th Edad
            tbody
                each estudiante in estudiantes
                    tr
                        td #{estudiante.nombre}
                        td #{estudiante.edad}